
<p>
  <strong>Nom:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
    <strong>Category:</strong>
  <%= @restaurant.category %>

</p>

<%@reviews.each do |review| %>
<li><%= review.content %></li>
<li><%= review.rating %></li>
  <%end%>




<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Review', new_restaurant_review_path(@restaurant)%>

<%= link_to 'Back', restaurants_path %>
